.layout {
    display: flex;
    flex-direction: row;
}

.content {
    width: 100%;
}

.show-picture {
    opacity: 1;
    transition: 0.5s;
    width: unset;
}

.hide-picture {
    opacity: 0;
    transition: 0.5s; 
    width: 0;
}