<div *ngIf="isHidden" class="closed">
    <mat-icon class="menu-icon">menu icon</mat-icon>
</div>

<div class="nav-bar" [ngClass]="isHidden ? 'hide' : 'show'">
    <div class="nav-bar-burger" matRipple (click)="toggleNav()">
        <mat-icon class="menu-icon">menu icon</mat-icon>
    </div>
    
    <div class="nav-bar-icons">
        <app-icon matRipple 
        [matRippleUnbounded]="true" 
        [matRippleCentered]="true" 
        *ngFor="let icon of icons" 
        [isSelected]="currentlySelected == icon"
        (click)="select(icon)">
            {{icon}}
        </app-icon>
    </div>
</div>

