// To add colors later that have their own property in the theme :
// https://github.com/angular/components/issues/11888#issuecomment-536509515


// http://mcg.mbitson.com/
$md-primary:  (
  50 : #e7f3ff,
  100 : #c2e0ff,
  200 : #99ccff,
  300 : #70b8ff,
  400 : #52a8ff,
  500 : #3399ff,
  600 : #2e91ff,
  700 : #2786ff,
  800 : #207cff,
  900 : #146bff,
  A100 : #ffffff,
  A200 : #fbfcff,
  A400 : #c8daff,
  A700 : #aec9ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$md-secondary: (
  50 : #e0fff9,
  100 : #b3fff0,
  200 : #80ffe6,
  300 : #4dffdb,
  400 : #26ffd4,
  500 : #00ffcc,
  600 : #00ffc7,
  700 : #00ffc0,
  800 : #00ffb9,
  900 : #00ffad,
  A100 : #ffffff,
  A200 : #f2fffa,
  A400 : #bfffe8,
  A700 : #a6ffdf,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$md-tersiary: (
  50 : #ffedff,
  100 : #ffd1ff,
  200 : #ffb3ff,
  300 : #ff94ff,
  400 : #ff7dff,
  500 : #ff66ff,
  600 : #ff5eff,
  700 : #ff53ff,
  800 : #ff49ff,
  900 : #ff38ff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffe1ff,
  A700 : #ffc8ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
