<div content class="content">
    <app-title>About Me</app-title>
    <app-secondary-title> {{ age }} years</app-secondary-title>
    <app-text>
        {{ aboutMe }}
    </app-text>
    <app-divider ></app-divider>

    <app-title>My Work Experience</app-title>
    <app-experience-block></app-experience-block>
    <div class="padding-bottom"></div>

    <app-title>My Skills</app-title>
    <div class="skill-block-container">
        <app-skill-block></app-skill-block>
        <app-skill-block></app-skill-block>
    </div>
    <div class="skill-block-container">
        <app-skill-block></app-skill-block>
        <app-skill-block></app-skill-block>
    </div>
    <app-divider ></app-divider>
    
    <app-title>My Education</app-title>
    <ng-container *ngFor="let i of education">
        <!-- <app-experience-block></app-experience-block> -->
        <div class="padding-bottom"></div>
    </ng-container>
    <app-divider ></app-divider>
    
    <app-proficiency-charts></app-proficiency-charts>
    <app-divider ></app-divider>
</div>