/* You can add global styles to this file, and also import other style files */
body {
    background-color: #242425;
    // font-family: 'Anton', sans-serif;
    // font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-primary {
    color: white;
}

.text-secondary {
    color: #52b258;
}
