/* You can add global styles to this file, and also import other style files */
body {
    background-color: #242425;
    letter-spacing: 1px;
    margin: 0;
    font-family: 'Akshar';
    
    overflow: hidden;
}

.text-primary {
    color: white;
}

.text-secondary {
    color: #52b258;
}
