<div class="container">
    <div class="icon-container">
        <app-icon [isSelected]="true">house</app-icon>
        <div class="line"></div>
        <div class="circle"></div>
    </div>
    <div class="content-block">
        <app-secondary-title [isWhiteText]="true">Front end</app-secondary-title>
        <app-text>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        </app-text>
    </div>
</div>