<div class="container" *ngFor="let experience of jobExperienceList">
    <div class="icon-container">
        <app-icon [isSelected]="true">house</app-icon>
        <div class="line"></div>
        <div class="circle"></div>
    </div>
    <div class="content-block">
        <div>
            <app-secondary-title class="experience-date-title" [isWhiteText]="true">{{ experience.dateTitle }}</app-secondary-title>
            <app-text>{{ experience.company }} | {{ experience.city }}</app-text>
            <app-secondary-title class="experience-title" [isWhiteText]="true">{{ experience.title }}</app-secondary-title>
        </div>
        <ul>
            <li *ngFor="let experienceItem of experience.experienceItems">
                <app-text>{{ experienceItem }}</app-text>
            </li>
          </ul> 
    </div>
</div>